name: hello world

on: 
   workflow_dispatch: 

   # push:
   #   branches:
   #     - main
   # schedule:
   #   -  cron:  "*/5 * * * *"  # execute every 5 minutes

jobs:
  build:  
    runs-on: ubuntu-latest
    steps:
      - name: Display hello world message
        run: echo "hello world, Felipe"
